*.rbc
capybara-*.html
.rspec
log/
tmp/
db/*.sqlite3
db/*.sqlite3-journal
# public/system
coverage/
spec/tmp
*.orig
rerun.txt
pickle-email-*.html
.byebug_history

config/initializers/secret_token.rb
/config/master.key
.env
# config/secrets.yml

node_modules/
.bundle/
vendor/
# Gemfile.lock, .ruby-version, .ruby-gemset

coverage/
spec/tmp
.rspec
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
.idea/
start_unicorn.sh

# Ignore master key for decrypting credentials and more.
/config/master.key
