| document.addEventListener('ajax:success', function() {
|  console.log('ajax success!');
|  document.getElementById('practice-tweets').innerHTML = "#{escape_javascript(render 'shared/practice_tweets')}";
| });